{% extends "base.html" %}
{% block title %}Jonathan Anguise{% endblock %}

{% block content %}
<!-- Navbar -->

<nav class="navbar navbar-default">
  <div class="container">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <h1 class="project-nav-color">My projects here:</h1>
{%for i in range(0, len_my_project)%}
        {% if language == "fr" %}{% elif language == "es" %}{% else %}{% endif %}
        <li><a href="#{{ my_projects[i]['name'] }}">📌 {{ my_projects[i]['name'] }}</a></li>
{%endfor%}
      </ul>
    </div>
  </div>
</nav>
{%for i in range(0, len_my_project)%}
<!-- Container -->
<!--Change color for each container, first is bg-1 style until bg-4 and go back to bg-1 style, cf css file-->
<div class="container-fluid bg-{{(i%4 + 1)}} text-center" id="{{ my_projects[i]['name'] }}">
  <h3><a href="{{ my_projects[i]['html_url'] }}"> {{ my_projects[i]['name'] }}</a></h3>
  {% if my_projects[i]['fork'] == True %}
    <h3> 🚧 Project forked 🚧 </h3>
  {% endif%}
  <p>{{ my_projects[i]['description'] }}</p>
</div>
{%endfor%}

{% endblock %}
